<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Push Notifications using Node.js and Web Push</title>
  </head>
  <body>
    <h1>Push Notification Using Web Push</h1>

    <h3>This will not work in incognito tab of browser.</h3>
    <p>Note: On Firefox, for testing you can run service workers over HTTP (insecurely); simply check the Enable Service Workers over HTTP (when toolbox is open) option in the Firefox Devtools options/gear menu.</p>
    <p>Note: Unlike previous attempts in this area such as AppCache, service workers don't make assumptions about what you are trying to do, but then break when those assumptions are not exactly right. Instead, service workers give you much more granular control.</p>
    <p>Note: Service workers make heavy use of promises, as generally they will wait for responses to come through, after which they will respond with a success or failure action. The promises architecture is ideal for this.</p>
    <p>Note: This does not work on safari browsers.</p>
    <p>Note: Please do check web-push docsf for more information</p>

    <button id="send-notification-button" data-pub-key="<%=publicVapidKey%>">Trigger Push Notification</button>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="js/main.js"></script>
  </body>
</html>
